.icon {
    height: 20px;
    width: 20px;
}

header, main, footer, .project-card, section {
    border: 1px solid black;
}

.project-screenshot {
    width: 350px;
    height: 300px;
    object-fit: contain;
}